<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankify">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bank_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fingerprint.Biometrics"></activity>
        <activity android:name=".Fingerprint.Passcode.PasscodeHandler" />
        <activity android:name=".Fingerprint.Passcode.PasscodeCreate" />
        <activity android:name=".Fingerprint.Passcode.PasscodeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".ScrollingActivity" />
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>