<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankify">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bank_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Biometrics.HowToBiometrics"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Core.Preloader"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Biometrics.Biometrics"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Biometrics.Passcode.PasscodeHandler"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Biometrics.Passcode.PasscodeCreate"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Biometrics.Passcode.PasscodeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Core.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".ScrollingActivity" />
        <activity
            android:name=".Core.StartScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>